<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark fixed-top" justify-content-between>

            <a class="navbar-brand text-primary" style="font-size:large" href="#">Task-web</a>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDemo"
                        aria-controls="navbarDemo" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            
            <div class="collapse navbar-collapse" id="navbarDemo">
                <form class="form-inline my-2 my-lg-0">
                    <input type="text" class="form-control" style="margin:0 20px 10px 0; width:200px" placeholder="NickName" name="nickname" />
                    <div class="input-group-append">
                        <input type="text" class="form-control" placeholder="Message" style="width:400px" aria-describedby="addon01" name="message" />
                        <button type="submit" style="margin-bottom:10px" class="btn btn-outline-success">Ввод</button>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-lg-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Web_project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
